/*小型設備（小型平板電腦和大型手機，767px及以下）*/
@media only screen and (max-width:767px) {
    .menu-btn {
        right: 10px;
        top: 10px;
    }

    .menu-wrap {
        position: fixed;
        width: 100% !important;
        right: -100% !important;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
        padding: 2rem !important;
        transition: right .3s;
    }
    
    .menu-wrap li {
        margin-top: 20px !important;
        margin-bottom: 50px !important;
        position: relative;
    }

}

/*中型設備（960px及以下）*/
@media only screen and (max-width:960px) {
    .menu-btn {
        right: 10px;
        top: 10px;
    }

    .menu-wrap {
        position: fixed;
        width: 55%;
        right: -55%;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
        padding: 4rem;
        transition: right .3s;
    }
    
    .menu-wrap li {
        margin-top: 45px;
        margin-bottom: 100px;
        position: relative;
    }

}

/*大型設備（960px以上）*/
@media only screen and (min-width:960px) {
    .menu-btn {
        right: 10px;
        top: 10px;
    }

    .menu-wrap {
        position: fixed;
        width: 40%;
        right: -40%;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
        padding: 4rem;
        transition: right .3s;
    }
    
}

/*超大型設備（1024px以上）*/
@media only screen and (min-width:1024px) {
    .menu-btn {
        right: 40px;
        top: 40px;
    }

    .menu-wrap li {
        margin-top: 30px;
        margin-bottom: 150px;
        position: relative;
        z-index: 50;
    }
    
}

/*超大型加大尺寸設備（1280px以上）*/
@media only screen and (min-width:1280px) {
    .menu-btn {
        right: 20px;
        top: 20px;
        width: 64px;
        height: 64px;
        background: rgba(255, 255, 255, 0);
        position: fixed;
        z-index: 51;
        padding-top: 18px;
        transition: background .3s;
        cursor: pointer;    
    }

    .menu-wrap li {
        margin-bottom: 20px;
        position: relative;
        z-index: 50;
    }
    
}