@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

$color-white: white;
$color-grey: grey;
$color-black: black;
$text-shadow: 10px 10px 10px rgb(255, 0, 0);
$fashion-shadow: 2px 10px 14px rgba(0, 0, 0, 0.5);
$pink: rgba(255, 175, 175, 0.7);
$red: red;
$blue: blue;
$green: green;
$atmosphere: #5b6470;
$dark: #323640;
$light: #bdc7d6;
$desk: 1280px; //桌電
$tablet: 1024px; //平板尺寸 (ipad pro)
$tablets: 960px; //平板尺寸 (ipad)
$mobile: 767px; //手機尺寸

* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header,
section {
    width: 100vw;
    height: 100%;
    background: rgb(175, 190, 255);
}

header {
    position: relative;
    height: 100vh;
    margin: 0 auto;

    @media screen and (max-width: $desk) {
        height: 100vh !important;
    }

    @media screen and (max-width: $tablet) {
        height: 80vh !important;
    }

    @media screen and (max-width: $mobile) {
        height: 82vh !important;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
        height: 80px;
        width: 60px;
        display: block;
        z-index: 1;

        @media screen and (max-width: $desk) {
            height: 80px;
            width: 80px;
        }

        @media screen and (max-width: $mobile) {
            height: 80px;
            width: 80px;
        }

        img {
            height: 80px;
            z-index: 2;

            @media screen and (max-width: $desk) {
                height: 80px;
                width: 70px;
            }

            @media screen and (max-width: $mobile) {
                height: 80px;
                width: 70px;
            }

            &:hover {
                filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
            }
        }
    }
}

// 首頁動畫區
.snack_animate {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
        background-image: url(./img/snackone.png);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        background-image: url(./img/snacktwo.png);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        animation: 1s cakeshake steps(1) infinite alternate;
        animation-fill-mode: forwards;

        @keyframes cakeshake {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
}

// 首頁輪播區
#carouselExampleFade {
    bottom: 80%;

    .carousel-inner {
        position: relative;
        width: 50%;
        overflow: hidden;
        margin: 0 auto;
        top: 0;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

// 首頁的產品區
.content {
    height: 260vh;
    display: block;
    padding-top: 100px;
    width: 100%;

    .product_history {
        width: 100%;
        position: relative;
        height: 50vh;

        .makestoryone {
            width: 100%;
            position: relative;

            img {
                position: absolute;
                width: 20%;
                right: 300px;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
            }

            .storytwo {
                opacity: 1;
                transition: 0.5s;

                &:hover {
                    opacity: 0;
                }
            }
        }

        .makestorytwo {
            width: 100%;
            position: relative;

            img {
                position: absolute;
                width: 20%;
                top: 200px;
                right: 100px;
                box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
            }

            .storyfour {
                opacity: 1;
                transition: 0.5s;

                &:hover {
                    opacity: 0;
                }
            }
        }

        h2 {
            position: absolute;
            left: 100px;
            writing-mode: vertical-rl;
            font-weight: 900;
        }

        p {
            position: absolute;
            left: 200px;
            width: 40%;
            font-size: 16px;
            line-height: 1.7;
            padding-top: 100px;
        }
    }

    .product_explanation {
        width: 100%;
        position: relative;
        height: 50vh;
        padding-top: 100px;

        h2 {
            position: absolute;
            right: 100px;
            writing-mode: vertical-rl;
            font-weight: 900;
        }

        p {
            position: absolute;
            right: 200px;
            width: 40%;
            font-size: 16px;
            line-height: 1.7;
        }

        .makecake {
            width: 100%;
            position: relative;

            img {
                position: absolute;
                width: 35%;
                left: 100px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
            }

            .caketwo {
                opacity: 1;
                transition: 0.5s;

                &:hover {
                    opacity: 0;
                }
            }
        }
    }

    .product_box {
        width: 100%;
        position: relative;
        margin-top: 250px;

        h2 {
            text-align: center;
            color: $color-black;
            font-weight: 900;
        }

        p {
            text-align: center;
            margin-bottom: 0;
            color: $color-black;
            font-weight: 600;
            padding: 20px;
        }

        .product_list {
            width: 90%;
            margin: 0 auto;

            .product_item {
                width: 20%;
                float: left;
                // margin: 0 4% 8% 4%;

                a {
                    display: block;
                    position: relative;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}

// 置頂按鈕
#gotop {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    background-color: #5f717e00;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    cursor: pointer;
    z-index: 99999;
}

// 頁尾區
footer {
    background: rgba(255, 175, 175, 0.7);
    padding: 20px;
    text-align: center;
    width: 100vw;

    .logos {
        display: block;
        margin: 0 auto;

        img {
            height: 70px;

            &:hover {
                filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
            }
        }
    }

    p {
        text-align: center;
        color: $color-black;
        padding: 10px 0;
    }

    .social {
        text-align: center;
        padding: 5px;

        img {
            margin: 5px;
        }
    }

    small {
        text-align: center;
        color: $color-black;
        padding: 10px 0;
    }
}

// 商品介紹區
.productpage {
    height: 200vh;
}
.article_box {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    width: 100%;

    .product_show {
        padding-top: 50px;
        width: 100%;
        display: block;
        position: relative;

        .product_item {
            width: 46%;
            display: block;
            margin-bottom: 100px;

            &:nth-child(odd) {
                float: left;
            }

            &:nth-child(even) {
                float: right;
            }

            a {
                display: block;
                width: 100%;
                background-color: $pink;
                margin-bottom: 0;
                padding-bottom: 2px;
                color: #000;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }

                img {
                    max-width: 60%;
                    height: auto;
                    display: block;
                    margin: 0 auto;
                }

                h3 {
                    padding: 0 10%;
                    margin-bottom: 1rem;
                }

                p {
                    padding: 0 10%;
                }
            }
        }
    }
}

.text_link {
    display: block;
    position: absolute;
    width: 46%;
    padding: 12px;

    button {
        width: 200px;

        a {
            text-decoration: none;
            padding: 0 12%;
            font-weight: 600;
            transition: 0.5s;
            font-size: 20px;
            background-color: rgb(255, 255, 175) !important;
            box-shadow: 5px 5px 20px;

            &:hover {
                text-decoration: none;
                font-weight: 900;
                font-size: 24px;
                background-color: rgb(200, 255, 175) !important;
                box-shadow: 2px 2px 5px rgb(0, 0, 0);
            }
        }
    }
}

// 店家地圖
.shop {
    position: relative;
    padding: 120px 0;
    height: 100vh;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;

        .shoptitle {
            font-family: "minion-pro", serif;
            font-weight: 500;
            font-style: normal;
            font-size: 70px;
            line-height: 1;
            letter-spacing: 2px;
            color: $color-black;
            padding-bottom: 30px;
        }

        .shopcontents {
            display: flex;
            width: 100%;

            .shop_image {
                position: relative;
                width: 60%;
                height: auto;
                padding-top: 40%;
                border-radius: 30px;
                border: 10px solid $pink;
                overflow: hidden;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;

                .shop_map {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    iframe {
                        width: 650px;
                        height: 450px;
                    }
                }
            }

            .shop_info {
                width: 40%;
                margin-left: 50px;

                .shop_detail {
                    color: $color-black;

                    .name {
                        font-family: "Noto Serif", serif;
                        font-weight: 900;
                        font-size: 36px;
                        line-height: 1;
                        letter-spacing: 8px;
                        margin-bottom: 80px;
                    }

                    .active {
                        font-family: "Noto Serif", serif;
                        font-weight: 600;
                        font-size: 18px;
                        margin-bottom: 30px;
                    }

                    .adress {
                        font-family: "Noto Serif JP", serif;
                        font-weight: 600;
                        font-size: 12px;
                    }
                }
            }

            .shop_link {
                margin-top: 200px;

                .click_btn {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 190px;
                    height: 44px;
                    border-radius: 22px;
                    font-family: "minion-pro", serif;
                    font-weight: 600;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 1;
                    color: $color-black;
                    background-color: $pink;
                    text-decoration: none;
                    transition: 0.5s;

                    &:hover {
                        font-size: 20px;
                    }

                    p {
                        vertical-align: inherit;
                        margin-bottom: 0;
                    }

                    .search {
                        display: block;
                        width: 20px;
                        height: 20px;
                        padding-left: 5px;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}

// 訂購頁面
.menu_product {
    position: relative;
    background-color: #fff;
    height: 100%;
    width: 250px;
    z-index: 2006;

    &::before {
        content: " ";
        display: table;
    }

    nav {
        text-align: left;

        .product_choose {
            padding: 0 0 50px 50px;
            list-style-type: none;

            li {
                font-size: 15px;
                margin-bottom: 30px;

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 1em;
                    line-height: 1.5em;
                    display: block;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }
}
// 聯絡LEO

#list {
    padding: 100px 0 0;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

form {
    width: 1280px;
    margin: 0 auto;
    padding: 20px 0 100px;
    z-index: 10;
    height: 80vh;

    @media screen and (max-width: $desk) {
        height: 80vh;
    }

    @media screen and (max-width: $tablet) {
        width: 100%;
        padding: 20px 20px 100px;
        height: 65vh;
    }

    @media screen and (max-width: $tablets) {
        height: 60vh;
    }

    @media screen and (max-width: $mobile) {
        height: 75vh;
    }

    input {
        width: 47%;
        padding: 10px;

        @media screen and (max-width: $desk) {
            width: 47%;
            padding: 10px;
        }

        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-bottom: 30px;
            padding: 30px;
        }

        @media screen and (max-width: $tablets) {
            width: 100%;
            padding: 10px;
        }

        &::placeholder {
            color: rgb(80, 80, 80);
            font-size: 14px;
        }
    }

    input[type="email"] {
        float: right;
    }

    input[type="submit"] {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 300px;
        margin: 30px 0;
        padding: 10px;

        &::placeholder {
            color: rgb(80, 80, 80);
            font-size: 14px;
        }
    }
}
