@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header,
section {
  width: 100vw;
  height: 100%;
  background: #afbeff;
}

header {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  header {
    height: 100vh !important;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 80vh !important;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 82vh !important;
  }
}

header .logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 80px;
  width: 60px;
  display: block;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  header .logo {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 767px) {
  header .logo {
    height: 80px;
    width: 80px;
  }
}

header .logo img {
  height: 80px;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  header .logo img {
    height: 80px;
    width: 70px;
  }
}

@media screen and (max-width: 767px) {
  header .logo img {
    height: 80px;
    width: 70px;
  }
}

header .logo img:hover {
  -webkit-filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
          filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
}

.snack_animate {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snack_animate::before {
  background-image: url(./img/snackone.png);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.snack_animate::after {
  background-image: url(./img/snacktwo.png);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: 1s cakeshake steps(1) infinite alternate;
          animation: 1s cakeshake steps(1) infinite alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes cakeshake {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cakeshake {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.left_yellowtwo {
  position: relative;
}

.left_yellowtwo img {
  position: absolute;
  top: 350px;
  left: -10%;
}

.left_yellowfour {
  position: relative;
}

.left_yellowfour img {
  position: absolute;
  top: 390px;
  left: 12%;
}

.left_yellowone {
  position: relative;
}

.left_yellowone img {
  position: absolute;
  top: 400px;
  left: 25%;
}

#carouselExampleFade {
  bottom: 80%;
}

#carouselExampleFade .carousel-inner {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  top: 0;
}

#carouselExampleFade .carousel-control-prev,
#carouselExampleFade .carousel-control-next {
  display: none;
}

.content {
  height: 260vh;
  display: block;
  padding-top: 100px;
  width: 100%;
}

.content .product_history {
  width: 100%;
  position: relative;
  height: 50vh;
}

.content .product_history .makestoryone {
  width: 100%;
  position: relative;
}

.content .product_history .makestoryone img {
  position: absolute;
  width: 20%;
  right: 300px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

.content .product_history .makestoryone .storytwo {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .product_history .makestoryone .storytwo:hover {
  opacity: 0;
}

.content .product_history .makestorytwo {
  width: 100%;
  position: relative;
}

.content .product_history .makestorytwo img {
  position: absolute;
  width: 20%;
  top: 200px;
  right: 100px;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

.content .product_history .makestorytwo .storyfour {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .product_history .makestorytwo .storyfour:hover {
  opacity: 0;
}

.content .product_history h2 {
  position: absolute;
  left: 100px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 900;
}

.content .product_history p {
  position: absolute;
  left: 200px;
  width: 40%;
  font-size: 16px;
  line-height: 1.7;
  padding-top: 100px;
}

.content .product_explanation {
  width: 100%;
  position: relative;
  height: 50vh;
  padding-top: 100px;
}

.content .product_explanation h2 {
  position: absolute;
  right: 100px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: 900;
}

.content .product_explanation p {
  position: absolute;
  right: 200px;
  width: 40%;
  font-size: 16px;
  line-height: 1.7;
}

.content .product_explanation .makecake {
  width: 100%;
  position: relative;
}

.content .product_explanation .makecake img {
  position: absolute;
  width: 35%;
  left: 100px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.content .product_explanation .makecake .caketwo {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .product_explanation .makecake .caketwo:hover {
  opacity: 0;
}

.content .product_box {
  width: 100%;
  position: relative;
  margin-top: 250px;
}

.content .product_box h2 {
  text-align: center;
  color: black;
  font-weight: 900;
}

.content .product_box p {
  text-align: center;
  margin-bottom: 0;
  color: black;
  font-weight: 600;
  padding: 20px;
}

.content .product_box .product_list {
  width: 90%;
  margin: 0 auto;
}

.content .product_box .product_list .product_item {
  width: 18%;
  float: left;
  margin: 12px;
  position: relative;
}

.content .product_box .product_list .product_item img {
  max-width: 100%;
  height: auto;
}

.content .product_box .product_list .product_item .yellow {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content .product_box .product_list .product_item .yellow:hover {
  opacity: 0;
}

#gotop {
  position: absolute;
  display: none;
  width: 50px;
  height: 50px;
  background-color: #5f717e00;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  cursor: pointer;
  z-index: 99999;
}

footer {
  background: rgba(255, 175, 175, 0.7);
  padding: 20px;
  text-align: center;
  width: 100vw;
}

footer .logos {
  display: block;
  margin: 0 auto;
}

footer .logos img {
  height: 70px;
}

footer .logos img:hover {
  -webkit-filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
          filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
}

footer p {
  text-align: center;
  color: black;
  padding: 10px 0;
}

footer .social {
  text-align: center;
  padding: 5px;
}

footer .social img {
  margin: 5px;
}

footer small {
  text-align: center;
  color: black;
  padding: 10px 0;
}

.productpage {
  height: 200vh;
}

.article_box {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  width: 100%;
}

.article_box .product_show {
  padding-top: 50px;
  width: 100%;
  display: block;
  position: relative;
}

.article_box .product_show .product_item {
  width: 46%;
  display: block;
  margin-bottom: 100px;
}

.article_box .product_show .product_item:nth-child(odd) {
  float: left;
}

.article_box .product_show .product_item:nth-child(even) {
  float: right;
}

.article_box .product_show .product_item a {
  display: block;
  width: 100%;
  background-color: rgba(255, 175, 175, 0.7);
  margin-bottom: 0;
  padding-bottom: 2px;
  color: #000;
  text-decoration: none;
}

.article_box .product_show .product_item a:hover {
  text-decoration: none;
}

.article_box .product_show .product_item a img {
  max-width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.article_box .product_show .product_item a h3 {
  padding: 0 10%;
  margin-bottom: 1rem;
}

.article_box .product_show .product_item a p {
  padding: 0 10%;
}

.text_link {
  display: block;
  position: absolute;
  width: 46%;
  padding: 12px;
}

.text_link button {
  width: 200px;
}

.text_link button a {
  text-decoration: none;
  padding: 0 12%;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  background-color: #ffffaf !important;
  -webkit-box-shadow: 5px 5px 20px;
          box-shadow: 5px 5px 20px;
}

.text_link button a:hover {
  text-decoration: none;
  font-weight: 900;
  font-size: 24px;
  background-color: #c8ffaf !important;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

.shop {
  position: relative;
  padding: 120px 0;
  height: 100vh;
}

.shop .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.shop .container .shoptitle {
  font-family: "minion-pro", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  line-height: 1;
  letter-spacing: 2px;
  color: black;
  padding-bottom: 30px;
}

.shop .container .shopcontents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.shop .container .shopcontents .shop_image {
  position: relative;
  width: 60%;
  height: auto;
  padding-top: 40%;
  border-radius: 30px;
  border: 10px solid rgba(255, 175, 175, 0.7);
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop .container .shopcontents .shop_image .shop_map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.shop .container .shopcontents .shop_image .shop_map iframe {
  width: 650px;
  height: 450px;
}

.shop .container .shopcontents .shop_info {
  width: 40%;
  margin-left: 50px;
}

.shop .container .shopcontents .shop_info .shop_detail {
  color: black;
}

.shop .container .shopcontents .shop_info .shop_detail .name {
  font-family: "Noto Serif", serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 8px;
  margin-bottom: 80px;
}

.shop .container .shopcontents .shop_info .shop_detail .active {
  font-family: "Noto Serif", serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.shop .container .shopcontents .shop_info .shop_detail .adress {
  font-family: "Noto Serif JP", serif;
  font-weight: 600;
  font-size: 12px;
}

.shop .container .shopcontents .shop_link {
  margin-top: 200px;
}

.shop .container .shopcontents .shop_link .click_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 190px;
  height: 44px;
  border-radius: 22px;
  font-family: "minion-pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  color: black;
  background-color: rgba(255, 175, 175, 0.7);
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.shop .container .shopcontents .shop_link .click_btn:hover {
  font-size: 20px;
}

.shop .container .shopcontents .shop_link .click_btn p {
  vertical-align: inherit;
  margin-bottom: 0;
}

.shop .container .shopcontents .shop_link .click_btn .search {
  display: block;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.product_fixmenu {
  height: 125vh !important;
}

.menu_product {
  position: absolute;
  background-color: #b4afff;
  height: 125%;
  width: 250px;
  z-index: 2006;
  left: 0;
  top: 0;
}

.menu_product::before {
  content: " ";
  display: table;
}

.menu_product .mark {
  height: 100px;
  width: 75px;
  display: block;
  background: rgba(0, 0, 0, 0);
  margin: 80px auto;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .menu_product .mark {
    height: 100px;
    width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .menu_product .mark {
    height: 100px;
    width: 75px;
  }
}

.menu_product .mark a {
  width: 75px;
  height: 100px;
}

.menu_product .mark img {
  height: 100px;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .menu_product .mark img {
    height: 100px;
    width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .menu_product .mark img {
    height: 100px;
    width: 75px;
  }
}

.menu_product .mark img:hover {
  -webkit-filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
          filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
}

.menu_product nav {
  text-align: left;
  width: 100%;
  height: 100%;
}

.menu_product nav .product_choose {
  padding: 0 0 20px 50px;
  list-style-type: none;
  vertical-align: baseline;
  height: 500px;
}

.menu_product nav .product_choose li {
  font-size: 18px;
  margin-bottom: 30px;
  padding-right: 30px;
  height: 40px;
}

.menu_product nav .product_choose li a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  line-height: 1.5em;
  display: block;
  vertical-align: sub;
  padding: 0 0 0 20px;
  background: #ffffa0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu_product nav .product_choose li a:hover {
  background: rgba(255, 175, 175, 0.7);
}

.menu_product nav .product_choose li span {
  font-size: 15px;
}

.see_title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1em;
  padding: 80px 0 60px 0;
  text-align: center;
}

.product_view {
  margin: 0 0 0 250px;
  height: 100vh;
}

.product_view .clearfix {
  width: 94%;
  max-width: 880px;
  margin: 0;
  padding: 0;
}

#tabs {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  background: #d8afff;
}

#tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style: none;
}

#tabs ul li {
  display: inline-block;
  vertical-align: top;
  font-family: "微軟正黑體";
  margin: 0 -1px -1px 0;
  border: 1px solid #bcbcbc;
  line-height: 25px;
  background: #ffffa0;
  padding: 0 15px;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#tabs ul li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}

#tabs ul li:hover {
  background: rgba(255, 175, 175, 0.7);
}

#tabs ul li a {
  color: #000;
  text-decoration: none;
}

#tabs .tab-inner {
  clear: both;
  color: #000;
  border: 1px #bcbcbc solid;
}

#tabs > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tabs > div > div {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  padding: 100px 0 0 120px;
  margin: 0 auto;
}

.new_photo {
  margin-right: 25px;
  padding-top: 50px;
}

.new_detail {
  padding: 50px 0;
}

.new_detail h3 {
  font-size: 2rem;
}

.new_detail h2 {
  font-size: 0.95rem;
  font-weight: normal;
  margin: 15px 0;
}

.new_detail h4 {
  font-size: 2.2rem;
  padding: 10px;
  margin-bottom: 20px;
  width: 12rem;
  background-color: #f1e322;
  -webkit-box-shadow: 5px 5px 0 #f00;
          box-shadow: 5px 5px 0 #f00;
}

.new_detail small {
  font-size: 0.8rem;
}

.new_detail p {
  font-size: 1rem;
  padding: 20px 0;
}

.new_detail button {
  padding: 5px;
  border: 0;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.new_detail button:hover {
  background: #fcafaf;
}

.tab-title {
  list-style: none;
  overflow: hidden;
  float: right;
}

.tab-title img {
  width: 140px;
  height: 140px;
}

#list {
  padding: 100px 0 0;
  color: #fff;
  text-align: center;
  font-size: 50px;
}

form {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 100px;
  z-index: 10;
  height: 80vh;
}

@media screen and (max-width: 1280px) {
  form {
    height: 80vh;
  }
}

@media screen and (max-width: 1024px) {
  form {
    width: 100%;
    padding: 20px 20px 100px;
    height: 65vh;
  }
}

@media screen and (max-width: 960px) {
  form {
    height: 60vh;
  }
}

@media screen and (max-width: 767px) {
  form {
    height: 75vh;
  }
}

form input {
  width: 47%;
  padding: 10px;
}

@media screen and (max-width: 1280px) {
  form input {
    width: 47%;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  form input {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
  }
}

@media screen and (max-width: 960px) {
  form input {
    width: 100%;
    padding: 10px;
  }
}

form input::-webkit-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input:-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input::-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input::placeholder {
  color: #505050;
  font-size: 14px;
}

form input[type="email"] {
  float: right;
}

form input[type="submit"] {
  width: 100%;
}

form textarea {
  width: 100%;
  height: 300px;
  margin: 30px 0;
  padding: 10px;
}

form textarea::-webkit-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea:-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea::-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea::placeholder {
  color: #505050;
  font-size: 14px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 80px;
  width: 60px;
  display: block;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  .logo {
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    height: 80px;
    width: 80px;
  }
}

.logo img {
  height: 80px;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  .logo img {
    height: 80px;
    width: 70px;
  }
}

@media screen and (max-width: 767px) {
  .logo img {
    height: 80px;
    width: 70px;
  }
}

.logo img:hover {
  -webkit-filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
          filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
}
/*# sourceMappingURL=style.css.map */