@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header,
section {
  width: 100vw;
  height: 100%;
  background: #000;
}

header {
  position: relative;
  height: 100vh;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  header {
    height: 100vh !important;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 80vh !important;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 82vh !important;
  }
}

header .logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100px;
  width: 100px;
  display: block;
}

@media screen and (max-width: 1280px) {
  header .logo {
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  header .logo {
    height: 100px;
    width: 100px;
  }
}

header .logo img {
  height: 100px;
  z-index: 2;
}

@media screen and (max-width: 1280px) {
  header .logo img {
    height: 100px;
    width: 70px;
  }
}

@media screen and (max-width: 767px) {
  header .logo img {
    height: 100px;
    width: 70px;
  }
}

header .logo img:hover {
  -webkit-filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
          filter: invert(76%) sepia(53%) saturate(3960%) hue-rotate(340deg) brightness(100%) contrast(102%);
}

footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 20px;
  text-align: center;
  width: 100vw;
}

footer .logo {
  height: 70px;
}

footer .logo img {
  height: 70px;
}

footer .logo img:hover {
  -webkit-filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
          filter: invert(0%) sepia(0%) saturate(4232%) hue-rotate(41deg) brightness(91%) contrast(103%);
}

footer p {
  text-align: center;
  color: white;
  padding: 10px 0;
}

footer .social {
  text-align: center;
  padding: 5px;
}

footer .social img {
  margin: 5px;
}

footer small {
  text-align: center;
  color: white;
  padding: 10px 0;
}

#carouselExampleFade {
  top: 150px;
}

#carouselExampleFade .carousel-inner {
  position: relative;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
  top: 0;
}

#carouselExampleFade .carousel-control-prev, #carouselExampleFade .carousel-control-next {
  display: none;
}

.content .product_box {
  width: 100%;
  position: relative;
}

.content .product_box .product_list {
  width: 100%;
  margin: 0 auto;
}

.content .product_box .product_list .product_item {
  width: 25%;
  float: left;
}

#list {
  padding: 100px 0 0;
  color: #fff;
  text-align: center;
  font-size: 50px;
}

form {
  width: 1280px;
  margin: 0 auto;
  padding: 20px 0 100px;
  z-index: 10;
  height: 80vh;
}

@media screen and (max-width: 1280px) {
  form {
    height: 80vh;
  }
}

@media screen and (max-width: 1024px) {
  form {
    width: 100%;
    padding: 20px 20px 100px;
    height: 65vh;
  }
}

@media screen and (max-width: 960px) {
  form {
    height: 60vh;
  }
}

@media screen and (max-width: 767px) {
  form {
    height: 75vh;
  }
}

form input {
  width: 47%;
  padding: 10px;
}

@media screen and (max-width: 1280px) {
  form input {
    width: 47%;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  form input {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
  }
}

@media screen and (max-width: 960px) {
  form input {
    width: 100%;
    padding: 10px;
  }
}

form input::-webkit-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input:-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input::-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form input::placeholder {
  color: #505050;
  font-size: 14px;
}

form input[type="email"] {
  float: right;
}

form input[type="submit"] {
  width: 100%;
}

form textarea {
  width: 100%;
  height: 300px;
  margin: 30px 0;
  padding: 10px;
}

form textarea::-webkit-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea:-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea::-ms-input-placeholder {
  color: #505050;
  font-size: 14px;
}

form textarea::placeholder {
  color: #505050;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */